<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../js/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/professional.css">
    <title>职业</title>
</head>
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script src="../js/art-template.js"></script>
<style>
    #myModal input:not([type="checkbox"]) {
        margin: 5px;
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid gray;
    }


    #myModal select {
        margin: 5px;
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid gray;
    }

    #jiaji {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }

    .modal-body span {
        height: 30px;
        padding: 5px;
        font-size: 20px;
    }
</style>

<body>
    <div class="box">
        <button style="display: none;" type="button" class="btn zhiweibtn btn-primary btn-lg" data-toggle="modal"
            data-target="#myModal">
            添加
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加职位</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="gangwei" id="gangwei" value="元谋人" placeholder="招聘岗位">
                        <input type="text" name="zhize" id="zhize" value="负责吃" placeholder="主要职责">
                        <select name="zhitime" id="zhitime">
                            <option value="">全职</option>
                            <option value="">兼职</option>
                            <option value="">实习</option>
                            <option value="">其他</option>
                        </select>
                        <input type="text" name="diqu" id="diqu" value="石器时代" placeholder="地区">
                        <input type="checkbox" name="jiaji" id="jiaji"> <span>是否加急</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="../img/professional/pro-logo.png" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">校园招聘</a></li>
                    <li><a href="#">海外招聘</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-8 col-xs-12">
        <div class="c8inp">
            <p>
                <span>职位筛选</span>
                <aa>
                    <span>分享到</span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </aa>
            </p>
            <p>
                <input type="text" id="huababa" placeholder="输入职位关键字">
                <span>搜索职位</span>
                <span class="glyphicon glyphicon-search"></span>
            </p>
            <select name="" id="">
                <option value="">上海</option>
                <option value="">武汉</option>
                <option value="">深圳</option>
            </select>
            <select name="" id="">
                <option value="">代码</option>
                <option value="">美术</option>
                <option value="">画画</option>
            </select>
            <select name="" id="">
                <option value="">全职</option>
                <option value="">兼职</option>
                <option value="">实习</option>
                <option value="">其他</option>
            </select>
        </div>
        <div class="c8content">
            <ul>
                <!-- 实例 -->
                <li>
                    <p><span>急</span> UE 675(B端)</p>
                    <p><span>全职</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>美术&表现</span></p>
                    <p>上海市</p>
                    <span class="glyphicon del glyphicon-remove"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="c4box clearfix">
            <p>
                <span>最新职位</span>
                <span>更多</span>
            </p>
            <ul>
                <!-- 实例 -->
                <!-- <li><span>急</span> 23</li> -->
            </ul>
            <nav aria-label="Page navigation" class="navpage">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
<script src="../js/professional.js"></script>
<script>
</script>
<script id="userInfoTemp" type="text/art-template">
    <li>
        <p><span>急</span>{{item.per_name}} </p>
        <p><span>{{item.per_type}} </span>&nbsp;&nbsp;&nbsp;&nbsp;<span> {{item.per_duty}} </span></p>
        <p>{{item.per_address}}</p> 
        <span class="glyphicon del glyphicon-remove"></span>
    </li>
</script>
<script id="userInfoTemp1" type="text/html">
    <li>{{if arr[4]}} <span>急</span> {{/if}}{{arr[0]}}</li>
	 <!--  <li><span>急</span> 23</li>-->
</script>

</html>


<!-- <li>
        <p>{{if arr[4]}} <span>急</span> {{/if}}{{arr[0]}} </p>
        <p><span>{{arr[2]}} </span>&nbsp;&nbsp;&nbsp;&nbsp;<span> {{arr[1]}} </span></p>
        <p>{{arr[3]}}</p>
    </li> -->

<!--   <p><span>{{Obj.per_type}} </span>&nbsp;&nbsp;&nbsp;&nbsp;<span> {{Obj.per_duty}} </span></p>
        <p>{{Obj.per_address}}</p> -->